@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'),
        local('Roboto-Thin'),
        url(https: //fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
        local('Roboto-Light'),
        url(https: //fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
        local('Roboto-Regular'),
        url(https: //fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-weight: 100;
    font-family: 'Roboto Light', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 0 auto;
    color: #333;
    text-align: center;
}

.container .title {
    padding: 6rem;
}

.container h1 {
    font-size: 5.5rem;
    margin-right: -1rem;
}

.container h2 {
    font-size: 7rem;
    margin-right: -1rem;
    color: #fff;
    z-index: 10;
    opacity: 0.8;
}



.between {
    height: 60rem;
    position: relative;
}



.between1 {
    height: 60rem;
    position: relative;
    margin-top: -12%;

}


.container {
    margin-top: -15.5%;
}



.container .video1 {}

.container .billed1 {
    background-image: url("../img/box-2.jpg");
}

.container .billed2 {
    background-image: url("../img/box-3.jpg");
}

.container .parallax {
    width: 100%;
    padding: 25rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}


/*----------- */

.overlay {
    position: absolute;
    z-index: 1;
    margin-left: 10%;
}

h1.titel {
    position: relative;
    left: 720px;
    top: 830px;
    color: white;
    letter-spacing: 1rem;
}

.webdok {
    width: 70%;
    margin-top: -10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.billedtekst {
    margin-left: 8%;
    margin-top: 10%;
    text-align: left;
    color: white;
    font-size: 26px;
    font-style: italic;
    width: 30%;
}

.billedtekst h4 {
    font-weight: 300;
    padding-top: 2%;
}

/*------CONTENT----- */

.overskrifter {
    padding-top: 5%;
    font-size: 30px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.kolonne {
    display: flex;
    display: block;
    flex-basis: 100%;
    flex: 1;
    text-align: left;
    padding: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
}

.kolonne1,
.kolonne2,
.kolonne3,
.kolonne4 {
    width: 30%;
}

.tekst {
    text-align: left;
    padding: 3%;
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 10%;
}


.tekst2 {
    padding-top: 7%;
    line-height: 1.9;
}

.down-button {
    margin: auto;
    width: 40%;
    margin-top: 2.5em;
}


.content-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    margin-top: -5%;
}

.content-box .tekst {
    margin: 2%;
    background-size: cover;
    background-position: center;
    /*div størrelse*/
    width: 50%;
    padding: 10%;
    height: 8em;
    margin: auto;
    margin-bottom: -5%;
}



.darkoverlay {
    background-color: #2F2F2F;
    padding-bottom: 10%;
    margin-top: 10%;
}

.webdoc-title {
    color: white;
    margin-top: -3%;
    margin-left: -30%;
}












/* pulse knap */
.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-14 11:13:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
